{% extends 'blog/base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>Please Login:</h1>
  <h3>(Must be SuperUser, please check in with the site admin)</h3>

  {% if from.errors %}
    <p>Your username and password did not match! Please try again.</p>
  {% endif %}

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}

      {{form.as_p}}
      <input type="submit" class="btn btn-primary" value="Login">

      <!-- This will allow us to decide what to do after a person is logged in
    Note, this is a hidden input -->
      <input type="hidden" name="next" value="{{next}}">
  </form>

</div>

{% endblock %}
